* {
  box-sizing: border-box;
}

a {
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f0f0f2;
  font-family: "Segoe UI";
}
body header > div > h1,
body footer > h2 {
  margin-block: 15px;
  text-align: center;
}
body header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
body header > div > a > img {
  margin: auto;
  height: 50px;
}
body main {
  display: flex;
  align-items: flex-start;
  flex-basis: initial;
  align-items: stretch;
}
body main form {
  flex-shrink: 0;
  display: block;
  margin: 0px;
}
body main form > div {
  padding: 1em;
  margin: 15px;
  font-size: 20px;
  display: grid;
}
body main form > input {
  width: 100%;
  border-radius: 0.5em;
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin-block: 15px;
  cursor: pointer;
}
body main form > input:hover {
  color: black;
}
body main hr.spacer {
  margin-inline: 20px;
}
body main > div.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  overflow: auto;
}
body .card {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.4);
  margin: 15px;
  border-radius: 0.5em;
  background-color: #fdfdff;
  padding: 2em;
}
body .card hr {
  margin-block: 20px;
  margin-inline: 0.5em;
}
body .graph {
  padding: 2em;
}
body .graph > h2 {
  text-align: center;
  margin-block: 0px 20px;
}
body .graph-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
body .hover:hover {
  transform: scale(1.03);
}
body table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}
body th,
body td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}
body th {
  background-color: orange;
  color: white;
  text-transform: uppercase;
}
body tr:nth-child(even) {
  background-color: #f2f2f2;
}
body tr:nth-child(even) {
  background-color: white;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
  main form > div.card {
    display: flex !important;
    overflow: auto;
    justify-content: space-between;
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
  main form > div.card > div {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}