* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f0f0f2;
  font-family: "Segoe UI";
}

body header > div > h1,
body footer > h2 {
  margin-block: 15px;
  text-align: center;
}

body header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

body header > div > a > img {
  margin: auto;
  height: 50px;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-preferred-size: initial;
      flex-basis: initial;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

body main form {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  margin: 0px;
}

body main form > div {
  font-size: 20px;
  display: -ms-grid;
  display: grid;
  padding: 1em;
  margin: 15px;
}

body main form > input {
  width: 100%;
  border-radius: 0.5em;
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin-block: 15px;
  cursor: pointer;
}

body main form > input:hover {
  color: black;
}

body main hr.spacer {
  margin-inline: 20px;
}

body main > div.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 2em;
  -webkit-column-gap: 2em;
          column-gap: 2em;
  width: 100%;
}

body .card {
  -webkit-box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.4);
  margin: 15px;
  border-radius: 0.5em;
  background-color: #fdfdff;
}

body .card > hr {
  margin-block: 20px;
  margin-inline: 0.5em;
}

body .graph {
  padding: 2em;
}

body .graph > h2 {
  text-align: center;
  margin-block: 0px 20px;
}

body .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  padding: 2em;
}

body .number h2 {
  margin-block: 0px 20px;
}

@media (max-width: 1000px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
