* {
  box-sizing: border-box;
}

a {
  color: black;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: #f0f0f2;
  font-family: "Segoe UI";
}

h1,
h2 {
  margin-block: 15px;
  text-align: center;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
header > div > a > img {
  margin: auto;
  height: 50px;
}

main {
  display: flex;
  align-items: flex-start;
  flex-basis: initial;
  align-items: stretch;
}

.data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  overflow: auto;
}

.card {
  box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.4);
  margin: 15px;
  border-radius: 0.5em;
  background-color: #fdfdff;
  padding: 2em;
  overflow: auto;
}

hr {
  margin-block: 20px;
  margin-inline: 1em;
}

.graph-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
.graph-container > .card {
  overflow: initial;
}

.hover:hover {
  transform: scale(1.03);
}

table {
  border-collapse: collapse;
  width: 90%;
  margin: auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

th {
  background-color: orange;
  color: white;
  text-transform: uppercase;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: white;
}

form {
  flex-shrink: 0;
  display: block;
  margin: 0px;
}
form > div {
  padding: 1em;
  margin: 15px;
  font-size: 20px;
  display: grid;
}
form > input {
  width: 100%;
  border-radius: 0.5em;
  background-color: #ff9800;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 20px;
  margin-block: 15px;
  cursor: pointer;
}
form > input:hover {
  color: black;
}

@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
  main form > div.card {
    display: flex !important;
    overflow: auto;
    -moz-column-gap: 2em;
         column-gap: 2em;
  }
  main form > div.card > div {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  main form > input {
    padding: 5px 15px;
    font-size: 15px;
    margin-block: 5px;
  }
  main .graph-container {
    display: block;
    text-align: center;
  }
  main .graph-container img {
    max-width: 100%;
  }
  main .graph-container > .card {
    overflow: auto;
  }
  main .card {
    margin: 5px;
    padding: 1em;
  }
  main .card img {
    max-width: 100%;
  }
  * {
    font-size: 12px;
  }
  h2,
h1 {
    font-size: 15px;
  }
  header > div h1 > a {
    font-size: 25px;
  }
  header > div a > img {
    height: 30px;
  }
}